<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
     <p>
        <h4>Logged in as {{ user.username }}</h4>
        <a href="/chat/logout">logout</a>
    </p>
     {% else %}
     <script type="text/javascript">
         window.location.replace("/chat/login");
     </script>
    {% endif %}
    <br>
    <div id="chat-log" style="height: 400px;width: 50%;overflow-y:scroll;border:1px solid #aba8a8" >
        {% for msg in msg_data %}
            <p><b>{{ msg.user }}</b> => {{msg.message}}</p>
        {% endfor %}
    </div>
    <br>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log(e);
            const data = JSON.parse(e.data);
            //document.querySelector('#chat-log').value += (data.message + '\n');
            $("#chat-log").append("<p><b>"+data.user+"</b> => "+data.message+"</p>")
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        const user = "{{user.username}}";
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user':user
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>